:root {
    --red : #df5e5e;
    --blue : #06a19d;
    --yellow: #ffb345;
    --light-yellow: #fff8e5;
    --dark: #5b454e;
}
header{
    display: flex;
    justify-content: space-between;
    height: 15rem;
}

.whitesquare{
    background-color:white;
    width: 49rem;
    height: 39rem;
    position: relative;
    top: 39.5rem;
    left: 38.5rem;
}
.yellowsquare1{
    background-color: var(--yellow);
    width: 50rem;
    height: 40rem;
    margin-left: 38rem;
}
.square{
    position: relative;
    top: -2rem;
}
.contacts{
    display: flex;
}
.contacts ul{
    flex-direction: column;

}
main ul img{
    width: 2.5rem;
}
.infos{
    font-size: 2.5rem;
}
li{
    text-decoration: none;
    list-style: none;
}
.restaurant{
    width: 50rem;
    position: relative;
    bottom: 22rem;
    left: 50rem;
}
button{
    border-radius: 100%;
    background-color: transparent;
    border-color: transparent;
}
.socialmedia{
    position:fixed;
    left: 110rem;
    bottom: 20rem;
    display: flex;
    flex-direction: column;
}
