.whitesquare{
    background-color:white;
    width: 61rem;
    height: 44rem;
    position: relative;
    top: 44.5rem;
    left: 38.5rem;
}
.yellowsquare1{
    background-color: var(--yellow);
    width: 62rem;
    height: 45rem;
    margin-left: 38rem;
}
.square{
    position: relative;
    top: -45rem;
    right: 35rem;
}
.contacts{
    display: flex;
    position: relative;
    left: -19rem;
    top: 15rem;
    z-index: 999;  
}
.contacts h1{
    position: relative;
    bottom: 8rem;
    left: 24.5rem;
}
.contacts ul{
    flex-direction: column;
}

main ul img{
    width: 2.2rem;
}
.infos{
    font-size: 2.2rem;
}
li{
    text-decoration: none;
    list-style: none;
}
.restaurant{
    width: 50rem;
    position: relative;
    bottom: 25rem;
    left: 55rem;
}
button{
    border-radius: 100%;
    background-color: transparent;
    border-color: transparent;
}
.socialmedia{
    position:fixed;
    left: 115rem;
    bottom: 23rem;
    display: flex;
    flex-direction: column;
}
form img{
    width: 2rem;
}
.contact-form{
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left-contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.left-contact-title h4{
    font-weight: 600;
    color: var(--red);
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}
.left-contact-title hr{
    border: none;
    width: 15rem;
    height: 0.8rem;
    background-color: var(--yellow);
    border-radius: 5rem;
    margin-bottom: 2rem;
}
.contact-inputs{
    width: 35rem;
    height: 2rem;
    border: none;
    outline: none;
    font-weight: 500;
    color: black;
    border-radius: 5rem;
    background-color: var(--light-yellow);
}
.left-contact textarea{
    height: 10rem;
    width: 35rem;
    border: none;
    outline: none;
    font-weight: 400;
    color: black;
    border-radius: 1rem;
    background-color: var(--light-yellow);
}
.contact-inputs:focus{
    border: 2px solid var(--dark);
}
.textearea:focus{
    border: 2px solid var(--dark);
}
.left-contact button{
    display: flex;
    align-items: center;
    padding: 15px 30px ;
    font-size: 1rem;
    color: black;
    gap: 20px;
    border: none;
    border-radius: 2rem;
    background-color: var(--light-yellow);
    cursor: pointer;
}
.right-contact img{
    width: 60rem;
}
.contact-form{
    position: relative;
    bottom: 45rem;
    left: 2.5rem;
}
input {
    margin: 10rem 0;
}