:root {
    --red : #df5e5e;
    --blue : #06a19d;
    --yellow: #ffb345;
    --light-yellow: #fff8e5;
    --dark: #5b454e;
    --white: #fff;
}
*{
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
li{
    text-decoration: none;
    list-style: none;
}
nav {
    background-color: var(--red);
    color: var(--white);
    padding: 1rem 0;
    border-top: 3px solid var(--yellow);
    width: 100%;
}
.navbar, .navbar-left ul {
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.navbar-left ul {
    gap: 2rem;
    font-size: 1.5rem;
}
.navbar img {
    width: 10rem;
}
.premier-info img{
    width: 3rem;
}

footer {
    background-color: var(--blue);
    padding: 2rem 0;
}
footer ul {
    justify-content: center;
    gap: 2rem;
    display: flex;
}
footer a {
    color: var(--white);
}
.premier-left img {
    width: 50rem;
}
form img{
    width: 2rem;
}
.contact-form{
    display: flex;
}
.left-contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-right: 4.5rem;
}
.left-contact-title h4{
    font-weight: 600;
    color: var(--red);
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}
.left-contact-title hr{
    border: none;
    width: 15rem;
    height: 0.8rem;
    background-color: var(--yellow);
    border-radius: 5rem;
    margin-bottom: 2rem;
}
.contact-inputs{
    width: 50rem;
    border: none;
    outline: none;
    font-weight: 500;
    color: black;
    border-radius: 5rem;
    background-color: var(--light-yellow);
}
.left-contact textarea{
    font-weight: 400;
    color: black;
    border-radius: 1rem;
    background-color: var(--light-yellow);
}
.contact-inputs:focus{
    border: 2px solid var(--dark);
}
.textearea:focus{
    border: 2px solid var(--dark);
}
.left-contact button{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: black;
    gap: 20px;
    border: none;
    border-radius: 2rem;
    background-color: var(--light-yellow);
    cursor: pointer;
}
.right-contact img{
    width: 60rem;
}
.premier ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socialmedia{
    position:fixed;
    left: 109rem;
    bottom: 23rem;
    display: flex;
    flex-direction: column;
}
.socialmedia img{
    width: 4rem;
}
.socialmedia button{
        border-radius: 100%;
        background-color: transparent;
        border-color: transparent;
        cursor: pointer;
}
.premier-info{
    flex-direction: column;
    font-size: 3rem;
    gap: 1.5rem;
    margin-right: 22rem;
}
.premier-info li{
    gap: rem;
}
a{
    text-decoration-line: none;
    color: black;
}
.second ul{
    display: flex;
    align-content: center;
}
.second{
    display: flex;
    justify-content: center;
}