@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap');

:root {
    --red : #df5e5e;
    --blue : #06a19d;
    --yellow: #ffb345;
    --light-yellow: #fff8e5;
    --dark: #5b454e;
}
h1 , h2, h3 {
    font-family: "Pinyon Script";
}
/* reglage globaux du site web */


