@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap');

:root {
    --red : #df5e5e;
    --blue : #06a19d;
    --yellow: #ffb345;
    --light-yellow: #fff8e5;
    --dark: #5b454e;
    --white: #fff;
}
*,::after,::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 , h2, h3 {
    font-family: "Pinyon Script";
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
a {
    text-decoration: none;
}
ul {
    display: flex;
    list-style-type: none;
}
h2, span {
    display: block;
}
span {
    text-align: center;
    margin-left: -4rem;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.btn a {
    text-decoration: none;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.btn-secondary a {
    background-color: var(--light-yellow);
    color: var(--red);
    font-size: 1.2rem;
    font-weight: bold;
}
.btn-primaire a {
    background-color: var(--blue);
    color: var(--light-yellow);
}
.btn-third a {
    background-color: var(--red);
    color: var(--light-yellow);
}
/* reglage globaux du site web */

nav {
    background-color: var(--red);
    color: var(--white);
    padding: 1rem 0;
    border-top: 3px solid var(--yellow);
    width: 100%;
}
.navbar, .navbar-left ul {
    justify-content: space-around;
    align-items: center;
}
.navbar-left ul {
    gap: 2rem;
    font-size: 1.5rem;
}
.navbar img {
    width: 10rem;
}

.title {
    padding: 3rem 0;
}
.title h1, .title h2 {
    text-align: center;
}
.title img {
    display: block;
    margin: 0 auto;
}
.title h2 {
    color: var(--red);
}
article {
    margin-bottom: -3rem;
    position: relative;
    z-index: 999;
}
.slider {
    align-items: center;
    gap: 3rem;
}

.slide-arrow {
    color: var(--blue);
    font-size: 3rem;
    font-weight: 900;
}
.card {
    background-color: var(--light-yellow);
    padding: 2rem 2rem;
    text-align: center;;
}
.card h2 {
    color: var(--red);
    font-family: "Pontano";
    font-size: 2rem;
}
.card {
    color: var(--dark);
    gap: 2rem;
}

.presentation {
    background-color: var(--red);
    clip-path: polygon(0% 0%, 26.92% 0.14%, 28.33% 1%, 30.79% 1.98%, 33.06% 2.96%, 37.17% 5.92%, 39.02% 7.25%, 43.65% 10.59%, 48.37% 13.54%, 51.91% 15.76%, 54.11% 17.14%, 55.69% 17.64%, 58.07% 18.39%, 60.4% 19%, 62.75% 18.63%, 64.39% 18.39%, 65.85% 17.08%, 68.78% 14.76%, 71.27% 12.79%, 74.08% 10.56%, 76.46% 9%, 78.79% 7.25%, 81.17% 5.76%, 83.58% 4.44%, 86.23% 3.62%, 88.91% 3.62%, 91.57% 4.22%, 94.07% 5.23%, 96.41% 7.04%, 98.17% 9.42%, 99.79% 12.79%, 100% 17.14%, 100% 100%, 0% 100%);
    padding: 10rem 0;
    z-index: -1;
    
}
.presentation ul {
    color: var(--white);
    align-items: center;
}
.presentation-left {
    padding: 0 5rem;
}
.presentation-left {
    padding: 2rem 5rem;
}
.presentation-left .btn {
    text-align: center;
    padding: 2rem 0;
} 
.presentation-right img {
    width: 20rem;
    border: 2px solid #fff;
    padding: 0.5rem;
    border-radius: 50%;
}
.nos-pizzas {
    padding: 5rem;
}
.nos-pizzas-top, .nos-pizzas-bottom {
    align-items: center;
    justify-content: space-evenly;
}
.nos-pizzas-bottom li img {
    background-color: var(--blue);
    width: 8rem;
    border-radius: 8rem;
}

.nos-pizzas-bottom p {
    font-size: 2rem;
    padding: 0 5rem;
    
}
.trust .trust-list {
    flex-wrap: wrap;
    background-color: var(--yellow);
    padding: 2rem 0;
    justify-content: space-evenly;
}
.nos-pizzas .btn {
    text-align: center;
}
.trust-card {
    max-width: 20%;
}
.card-title {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    max-height: 11rem;
}
.card-title::after{
    position: relative;
    bottom: -2rem;
    left: -14px;
    display: inline-block;
    border-top: 1.8rem solid var(--white);
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-radius: 0 0 1px 0;
    content: " ";
}
.trust-card ul {
    margin-top: 2rem;
    gap: 1rem;
    
}
.trust .card-photo img {
    width: 3rem;
    border-radius: 4rem;
}

.livraison {
    padding: 5rem;
}
.livraison ul {
    justify-content: space-around;
}
.livraison-left {
    width: 50%;
}
.livraison span {
    color: var(--blue);
}

.livraison-logo img {
    width: 5rem;
}

footer {
    background-color: var(--blue);
    padding: 2rem 0;
}
footer ul {
    justify-content: center;
    gap: 2rem;
}
footer a {
    color: var(--white);
}